@use "styles/mixins" as *;

.description {
  line-height: 1.5;
  color: var(--text-secondary);
  margin-top: calc(var(--card-padding) * -0.25);
}

.modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  // Ensure children are scrollable when necessary
  > .content {
    overflow-y: auto;
    max-height: calc(90vh - 8rem); // reserve space for header/footer
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: var(--size-4);
    display: flex;
    flex-direction: column;
    gap: var(--size-4);

    @media (max-width: 600px) {
      max-height: calc(100vh - 9rem);
    }
  }
}

.group {
  display: flex;
  align-items: center;
  gap: calc(var(--modal-padding) * 0.25);

  & > * {
    flex: 1;
  }

  .confirm {
    flex: 1.5;
  }
}

.message {
  text-align: left;
}

.weightChangeGroup {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  margin-top: var(--size-4);
  text-align: left;
}
